<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="NorthwindServices.Services.CustomerService" behaviorConfiguration ="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7741/NorthwindServices/Services" />
            <add baseAddress="net.pipe://localhost/Services" />
          </baseAddresses>
        </host>

        <endpoint address ="CustomerService" binding="wsHttpBinding"
                  contract="NorthwindServices.ServiceContracts.ICustomerService"
                  bindingNamespace = "http://dotnetmentors.com/services/customer" />
        <endpoint address="CustomerService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address ="CustomerService" binding ="netNamedPipeBinding" 
                  contract ="NorthwindServices.ServiceContracts.ICustomerService"
                  bindingNamespace = "http://dotnetmentors.com/services/customer"  />
        <endpoint address="CustomerService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
      </service>

      <service name="NorthwindServices.Services.OrderService" behaviorConfiguration ="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7741/NorthwindServices/Services" />
            <add baseAddress="net.pipe://localhost/Services" />
          </baseAddresses>
        </host>

        <endpoint address ="OrderService" binding="wsHttpBinding"
                  contract="NorthwindServices.ServiceContracts.IOrderService"
                  bindingNamespace = "http://dotnetmentors.com/services/order" />
        
        <endpoint address="OrderService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address = "OrderService" binding ="netNamedPipeBinding"
                  contract ="NorthwindServices.ServiceContracts.IOrderService"
                  bindingNamespace = "http://dotnetmentors.com/services/order"  />
        <endpoint address="OrderService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
      </service>
     </services>    
    <behaviors>
      <serviceBehaviors>
        <behavior name ="ServiceBehavior" >
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
